@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap');

.pt-sans {
  font-family: 'PT Sans', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}
